
:root {
  --yellow-light: #ffff99;
  --yellow: #ffff66;
  --yellow-dark: #ffff00;
  --green-bg: #1f7a1f;
  --red-bg: #ff0000;
  --red-dark: #b30000;
  --main-bg: #ccffb3;
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  margin: 0;
  overflow: overlay;
  font-family: "Comic Sans MS", "Monotype Corsiva", cursive;
  background-color: var(--main-bg);
}
.body-hidden-overflow {
  overflow: hidden;
}

body::-webkit-scrollbar, 
.navigation-menu::-webkit-scrollbar, 
.accordeon-content::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track, 
.navigation-menu::-webkit-scrollbar-track, 
.accordeon-content::-webkit-scrollbar-track {
  background: var(--green-bg);
}
body::-webkit-scrollbar-thumb, 
.navigation-menu::-webkit-scrollbar-thumb, 
.accordeon-content::-webkit-scrollbar-thumb {
  background-color: var(--red-bg);
  border-radius: .3em;
  border: .2em solid var(--red-dark);
}


.navigation {
  position: relative;
}
.navigation-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 5px;
  left: .5%;
  width: 13%;
  height: 92%;
  padding: 1em .2em;
  text-align: center;
  word-wrap: break-word;
  background-color: var(--green-bg);
  border-radius: 10px;
  overflow: auto;
}
.navigation-menu li {
  list-style-type: none;
}
.navigation-menu li + li {
  margin-bottom: .5em;
}
.navigation-menu li:first-of-type {
  margin-bottom: 3vw;
}
.navigation-menu li:last-of-type {
  margin-top: auto;
}
.navigation-menu li a {
  display: block;
  padding: 0 .2em;
  text-decoration: none;
  background-color: var(--red-bg);
  color: var(--yellow);
  border: 1px solid var(--red-dark);
  border-radius: 6px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.navigation-menu a:hover:not(.selected), a:focus {
  background-color: #e60000;
}
.navigation-menu .selected {
  background-color: var(--red-dark);
}
.menu-toggle {
  display: none;
}


main {
  width: 83%;
  margin-left: calc((100% - 80% - 16%) / 2 + 13%); /* (body - main - nav) / 2 + nav */
  padding: 2em;
}



@media (max-width: 664px) {
  .menu-toggle {
    display: inline-block;
    position: absolute;
    top: .37em;
    right: .7em;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: .4em;
    text-indent: 10em;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
  }
  .menu-toggle::after {
    display: block;
    position: absolute;
    top: .2em;
    left: .17em;
    content: "\2261";
    text-indent: 0;
  }
  .navigation-menu {
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 1em .5em;
    z-index: 1;
  }
  .navigation-menu.is-open {
    display: flex;
  }
  .navigation-menu li a {
    padding: .8em 1em;
  }
  main {
    width: 100%;
    margin: 0;
  }
}


#home .content {
  height: 18em;
  background-image: url("../pics/mathKids.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  text-align: justify;
  line-height: 2em;
}

fieldset {
  padding: 1em;
  margin: 1.5em auto;
  border-radius: 10px;
  border-width: medium;
}

.center {
  text-align: center;
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.vertical-center {
  vertical-align: middle;
}

.special {
  color: red;
}

.correct {
  border: 2px solid #1aff1a;
}

.warning {
  border: 2px solid red;
}

.invisible {
  visibility: hidden;
}


.interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5em 0;
}
.interface > *:not(:last-child) {
  margin-bottom: 1em;
  margin-right: 1em;
}
.interface-item {
  display: flex;
}
.interface-item > label {
  margin-right: .5em;
}
.interface-item-score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: .5em;
}
.interface-item-score > * > * {
  display: inline-block;
}


.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 12em));
  grid-auto-rows: 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 6em;
  justify-content: center;
  margin: 1em 0 2em;
}
.exercises-operation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.exercises-operation > * + * {
  margin-left: .2em;
}


.control {
  display: flex;
  justify-content: space-between;
}


.tooltip {    /* Tooltip container */
  position: relative;
  display: inline-block;
}
.tiptext {
  visibility: hidden;
 /* width: 120px;*/
  background-color: var(--yellow-light);
  border: 1px solid grey;
  border-radius: 6px;
  position: absolute;   /* Position the tooltip text */
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;       /* Fade in tooltip */
  transition: opacity 0.3s;
}
.tooltip .tiptext::after {    /* Tooltip arrow */
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.showtip {
  visibility: visible;
  opacity: 1;
}
.tooltip .close {
  font-size: 1.4em;
  margin-left: 0;
}
.tooltip input.close {
  width: .9em;
  box-shadow: none;
}
.canvas {
  width: 100%;
  border: 1px solid black;
}




input, select, button {
  font: inherit;
  font-size: .9em;
  background-color: #80ff80;
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(55,55,55,.5);
}

input:hover, select:hover, button:not(:disabled):hover, 
input:focus, select:focus, button:not(:disabled):focus {
  background-color: #1aff1a;
  cursor: pointer;
}

input:active, .check:active {
  background-color: #00b300;
}

input[type="text"] {
  font-size: .9em;
  text-align: center;
  width: 2.3em;
  background-color: #ffffcc;
}


.fraction {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: .95em;
  letter-spacing: 0.001em;
  text-align: center;
}
.fraction div.bottom {
  border-top: 2px solid black;
}
.fraction div.dash {
  display: none;
}
.fraction input {
  width: 1.5em;
  box-shadow: none;
}


.test-level-choice {
  font: inherit;
  width: 10em;
  margin-top: 1em;
  padding: .2em;
  border-radius: 10px;
  color: var(--yellow);
  background-color: var(--red-bg);
  background-image: url("../pics/unlocked.png");
  background-position: 5%, 50%;
  background-repeat: no-repeat;
}
.test-level-choice:disabled {
  opacity: .8;
  background-image: url("../pics/locked.png");
}
.test-interface > * {
  margin-bottom: 0;
}
.test-interface > h2 {
  margin: .3em 0;
}
.test-navigation {
  padding-top: 1em;
  text-align: center;
}
.test-navigation > button {
  width: 4em;
}
.test-navigation > * + * {
  margin-left: 1em;
}
.accordeon-container {
  position: absolute;
  top: 2.5%;
  left: 25%;
  min-width: 57vmax;
  max-width: 57vmax;
  max-height: 95vmin;
  z-index: 1000;
  overflow: hidden;
  background-color: var(--main-bg);
  border: 3px solid grey;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
}
.accordeon-titlebar {
  display: flex;
  justify-content: space-between;
  padding: .1em;
  background-color: var(--red-dark);
  border-bottom: 2px solid grey;;
}
.accordeon-titlebar > * {
  color: var(--yellow-dark);
  margin: 0;
}
.accordeon-titlebar-close {
  font: inherit;
  width: 1.5em;
  height: 1.5em;
  line-height: 100%;
  background-color: var(--red-bg);
}
.accordeon-titlebar-title {
  min-width: 1.5em;
  max-width: 1.5em;
  padding: 0 .2em;
}
.accordeon-content {
  max-height: 88vmin;
  overflow: auto;
}
.accordeon-section-header {
  margin: 0;
  padding: .1em;
  text-align: center;
  cursor: pointer;
  color: var(--yellow-light);
  background-color: var(--red-bg);
  border: 2px solid #b30000;
  box-shadow: px grey;
}
.accordeon-section-content {
  margin: .5em;
  padding: .5em;
  border: 2px solid grey;
  border-radius: 10px;
}
.accordeon-section-content > * {
  margin: 0;
}
.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
}


/* Customize the label (the container) */
.container {
  display: inline;
  position: relative;
  padding-left: 30px;
  margin-right: 12px;
  cursor: pointer;
}
/* Hide the browser's default radio button */
.container input {
  display: none;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: #009900;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: .28em;
  left: .28em;
  width: .56em;
  height: .56em;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 50%;
  background: white;
}


.settings-group {
  display: flex;
}
.settings-group div + div {
  margin-top: .3em;
}
.settings-group-line {
  display: flex;
}
.settings-group-line :last-child {
  margin-left: auto;
}