/* test-accordeon module */

.test-accordeon {
    position: absolute;
    top: 2.5%;
    left: 25%;
    min-width: 57vmax;
    max-width: 57vmax;
    max-height: 95vmin;
    z-index: 1000;
    overflow: hidden;
    background-color: var(--main-bg);
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 10px 10px 15px grey;
  }
  .test-accordeon-titlebar {
    display: flex;
    justify-content: space-between;
    padding: .1em;
    background-color: var(--red-dark);
    border-bottom: 2px solid grey;;
  }
  .test-accordeon-titlebar > * {
    color: var(--yellow-dark);
    margin: 0;
  }
  .test-accordeon-titlebar-close {
    font: inherit;
    width: 1.5em;
    height: 1.5em;
    line-height: 100%;
    background-color: var(--red-light);
  }
  .test-accordeon-titlebar-title {
    min-width: 1.5em;
    max-width: 1.5em;
    padding: 0 .2em;
  }
  .test-accordeon-content {
    max-height: 88vmin;
    overflow: auto;
  }
  .test-accordeon-section-header {
    width: 100%;
    padding: .4em;
    color: var(--yellow-light);
    background-color: var(--red-light);
  }
  .test-accordeon-section-header:hover:not(:disabled),
  .test-accordeon-section-header:focus:not(:disabled) {
    background-color: var(--red);
  }
  .test-accordeon-section-header:active {
    background-color: var(--red-dark);
  }
  .test-accordeon-section-header.selected {
    background-color: var(--red-dark);
  }
  .test-accordeon-section-content {
    margin: .5em;
    padding: .5em;
    border: 2px solid grey;
    border-radius: 10px;
  }
  .test-accordeon-section-content > * {
    margin: 0;
  }
  .dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
  }
  /* end of accordeon module */
  