/*
    Accordion

    Add class `accordion` to the wrapper div container and add as many contents containing button
    with class `accordeon-header` and div with class `accordeon-body` as needed.

    If you need content to be initially visible add class `selected` to the corresponding button

    Markup:
    <div class="accordion">
      <div class="accordion-head></div>
      <div class="accordion-body>
        <button class="accordion-body-header selected">header 1</button>
        <div class="accordion-body-content">
            <div>Some text to fill in the accordion body content 1</div>
        </div>
        <button class="accordion-body-header">header 2</button>
        <div class="accordion-body-content">
            <div>Some text to fill in the accordion body content 2</div>
        </div>
        <button class="accordion-body-header">header 3</button>
        <div class="accordion-body-content">
            <div>Some text to fill in the accordion body content 3</div>
        </div>
      </div>
    </div>

    Styleguide Accordion
*/
  
  
.accordion {
  display: none;
  position: relative;
  max-height: 88vmin;
  background-color: hsl(180, 50%, 90%);
  overflow: auto;
}
.accordion.active {
  display: block;
}
.accordion > .accordion-head {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 1.5em;
}
.accordion > .accordion-body {
  overflow: auto;
}
.accordion-body-header {
  position: relative;
  width: 100%;
  font-size: 1.1em;
  padding: .4rem 1rem;
  text-align: left;
  color: hsl(90, 100%, 55%);
  background-color: hsl(0, 100%, 50%);
  outline: none;
  border: 1px solid hsl(0, 100%, 20%);
  border-top: transparent;
}
.accordion-body-header::after {
  position: absolute;
  right: 1rem;
  body: "\002B";
}
.accordion-body-header.selected::after {
  body: "\2212";
}
.accordion-body > .accordion-header:first-of-type {
  border-top: 1px solid hsl(0, 100%, 20%);
}
.accordion-body-header:hover,
.accordion-body-header:focus {
  background-color: hsl(0, 100%, 40%);
}
.accordion-body-header:active {
  background-color: hsl(0, 100%, 30%);
}
.accordion-body-header.selected {
  background-color: hsl(0, 100%, 30%);
}
.accordion-body-header + .accordion-body-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s linear;
}
.accordion-body-header.selected + .accordion-body-content {
  height: auto;
  border: 1px solid hsl(0, 100%, 30%);
  border-top: transparent;
}
.accordion-body-content > * {
  margin: 1em .5em;
}