/*
    Accordion

    Add class `accordion` to the wrapper div container and add as many contents containing button
    with class `accordeon-header` and div with class `accordeon-body` as needed.

    If you need content to be initially visible add class `selected` to the corresponding button

    Markup:
    <div class="accordion">
      <button class="accordion-header selected">header 1</button>
      <div class="accordion-content">
        <div>Some text to fill in the accordion body content 1</div>
      </div>
      <button class="accordion-header">header 2</button>
      <div class="accordion-content">
        <div>Some text to fill in the accordion body content 2</div>
      </div>
      <button class="accordion-header">header 3</button>
      <div class="accordion-content">
        <div>Some text to fill in the accordion body content 3</div>
      </div>
    </div>

    Styleguide Accordion
*/
  
  
.accordion {
  background-color: hsl(180, 50%, 90%);
}

.accordion-header {
  position: relative;
  width: 100%;
  font-size: 1.1em;
  padding: .4rem 1rem;
  text-align: left;
  color: hsl(90, 100%, 55%);
  background-color: $red-light;
  outline: none;
  border: 1px solid hsl(0, 100%, 20%);
  border-top: none;
  cursor: pointer;
}
.accordion-header:disabled {
  cursor: initial;
  background-color: transparentize($red-light, 0.3);
}
.accordion-header::after {
  position: absolute;
  right: 1rem;
  content: "\002B";
}
.accordion-header.selected::after {
  content: "\2212";
}
.accordion-header:hover:not(:disabled),
.accordion-header:focus {
  background-color: $red;
}
.accordion-header.selected,
.accordion-header.selected:hover,
.accordion-header:active {
  background-color: $red-dark;
}
.accordion-header + .accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s linear;
}
.accordion-header.selected + .accordion-content {
  height: auto;
  border: 1px solid hsl(0, 100%, 30%);
  border-top: transparent;
}

.accordion-content > * {
  margin: 1em .5em;
}