
/* form-element module */

.form-element {
    font-family: inherit;
    font-size: .9em;
    cursor: pointer;
    outline: none;
    background-color: $green-pale;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0.4em;
    &.no-touch:hover:not(:disabled),
    &.no-touch:focus:not(:disabled) {
        background-color: $green-light;
    }
    &:active {
        background-color: $green;
    }
    &.correct {
        border: 2px solid #1aff1a;
    }
    &.warning {
        border: 2px solid $red-light;
    }
    &.invisible {
        visibility: hidden;
    }
}

input[type=number].form-element {
    width: 2.3em;
    padding: 0.5rem 0;
    text-align: center;
    background-color: $yellow-pale;
    &.no-touch:hover,
    &.no-touch:focus {
        background-color: $yellow-light;
    }
    @media (min-width: $screen-breakpoint-1) {
        appearance: textfield;
        padding: 0.2rem 0.1rem;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {     /* Edge and IE */
            -webkit-appearance: none; 
        }
    }
}

input[type=checkbox].form-element {
    box-shadow: none;
    border-radius: 0.2em;
    &:active {
        background-color: $green-dark;
    }
}

/* end of form-element module */