
/* 
Fraction

Displays numbers as a fraction.

Add class `fraction` to a wrapper *div* element, class `numerator` to the first child *div* element 
and `denominator to second one.

Markup:
<div style="text-align:center">
    <div class="fraction">
        <div class="whole">2</div>      // optional
        <div class="fraction-unit">
            <div class="numerator">13</div>
            <div class="denominator">132</div>
        </div>
    </div>
</div>

Styleguide Fraction
*/

.fraction {
    display: flex;
    align-items: center;
    height: 100%;
}
.fraction > .whole {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    height: 100%;
}
.fraction > .whole:not(:only-of-type) {
    margin-right: 0.1em;
}
.fraction .whole > input[type="text"] {
    width: 1.05em;
}
.fraction > .fraction-unit {
    text-align: center;
    font-size: .9em;
}
.fraction > .fraction-unit input[type="text"] {
    width: 1.6em;
}
.fraction > .fraction-unit > .denominator {
    border-top: 2px solid black;
}
