
/* general settings */

$yellow-pale: hsla(60, 100%, 90%, 1);
$yellow-light: hsla(60, 100%, 80%, 1);
$yellow: hsla(60, 100%, 70%, 1);
$yellow-dark: hsla(60, 100%, 50%, 1);
$green-pale: hsla(120, 100%, 65%, 1);
$green-light: hsla(120, 100%, 45%, 1);
$green: hsla(120, 100%, 35%, 1);
$green-dark: hsla(120, 59%, 30%, 1);
$red-light: hsla(0, 100%, 50%, 1);
$red: hsla(0, 100%, 45%, 1);
$red-dark: hsla(0, 100%, 35%, 1);
$main-bg: hsla(120, 90%, 80%, 1);


:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

body {
  display: flex;
  user-select: none;
  margin: 0;
  overflow-y: scroll;
  font-family: "Comic Sans MS", "Monotype Corsiva", cursive;
  background-color: $main-bg;
}
.body-hidden-overflow {
  overflow: hidden;
}

body::-webkit-scrollbar, 
.sidenav::-webkit-scrollbar, 
.dialog-body::-webkit-scrollbar {
  width: 1em;
}
.sidenav::-webkit-scrollbar, 
.dialog-body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track, 
.sidenav::-webkit-scrollbar-track, 
.dialog-body::-webkit-scrollbar-track {
  background: $green-dark;
}
body::-webkit-scrollbar-thumb, 
.sidenav::-webkit-scrollbar-thumb, 
.dialog-body::-webkit-scrollbar-thumb {
  background-color: $red-light;
  border-radius: .3em;
  border: 0.2em solid $red-dark;
}
.sidenav::-webkit-scrollbar-thumb, 
.dialog-body::-webkit-scrollbar-thumb {
  border-width: 0.1em;
  border-radius: 0.15em;
}

main {
  width: 85%;
  padding: 2em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
p {
  text-align: justify;
  line-height: 2em;
}
fieldset {
  padding: 1em;
  margin: 1.5em auto;
  border-radius: 10px;
  border-width: medium;
}
button:disabled {
  cursor: initial;
}
img {
  vertical-align: text-bottom;
}
img.answered {
  margin-left: 0.5em;
}

/* end of general settings */
  

#home .content {
  height: 12em;
  background-image: url("../../public/pics/mathKids.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#dim {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
#dim.active {
  display: block;
}

  
/* utility classes */

.center {
  text-align: center;
  align-items: center;
}
.left {
  text-align: left;
}
.right {
  justify-items: right;
}
.vertical-center {
  vertical-align: middle;
}
.special {
  color: $red-light;
}


/* end of utility classes */